// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card-padding-none {
    padding: 0;
}

.form-button {
    color: #fff;
}

.navbar {
    margin: 0px 80px 24px;
}

.form-auth-body {
    padding: 2rem 2rem;
}
